body{
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	opacity: 0.9;	
}

body,
header{
	background-color: black;
}

header{
	height: 69px;
	width: 100%;
	position: fixed;
	border-bottom: 1px solid seashell;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	height: 50px;
    font-size: 10px;
    display: flex;
    margin-left: 10px;
    margin-right: 0;
}

.topnav{
	margin-right: 20px;
}

.topnav a{
	color: seashell;
	text-decoration: underline;
	padding: 10px;
}

html, body {
 margin: 0;
}

.mission{
	height: 700px;
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
    display: flex;
    align-items: center;
    justify-content: center;    
}

.container{
	width: 100%;
	background: black;
}

.our{
	text-align: center;
	width: 1200px;
}

.products{
	width: 1000px;
	display:block;
	margin-top: 10px;
	text-align: center;
	padding-left: 90px;
}

.gallery{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.item img{
	display: block;
	height: 200px;
	width: 300px;
	margin: 10px;
}

.locations{
	height: 500px;
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	margin-top: 60px;
}

.locations h2{
	text-align: center;
	padding-top: 70px;
}

.places{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}	

.stores{
	opacity: 1.0;
	padding: 10px;
	text-align: center;
    margin: 5px 20px;
    border: 1px solid black;
    background-color: black;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

footer{
	display: block;
	text-align: center;
	padding: 10px;
	height: 200px;
}

#end{
	padding-left: 20px;
	text-align: left;
}


